<div class="container">
<div class="review-tile">
  <img src={{review.profilePicture}} alt={{review.username}} class="col-md-3"/>
  <div class="col-md-3">
    <h4>{{review.username}}</h4>
    <h4>Published On: {{review.date}}</h4>
    <h4>Rating: {{review-rating review.rating}}</h4>
    <p>
      {{review.reviewContent}}
    </p>
  </div>
</div>
</div>
