{{#if updateBookForm}}
  <div class="update-book">
    <form class="form-group">
      <h2>Update Book</h2>
      <div class="container-fluid">
        <div class="col-md-6">
          <label>Title</label>
          {{input required value=book.title id="title" class="form-control"}}
        </div>
        <div class="col-md-6">
          <label>Author</label>
          {{input required value=book.author id="author" class="form-control"}}
        </div>
      </div>
      <div class="col-md-6">
        <label>Tag Line</label>
        {{input required value=book.tagLine id="tagLine" class="form-control"}}
      </div>
      <div class="col-md-6">
        <label>Description</label>
        {{textarea required value=book.description id="description" class="form-control"}}
      </div>
      <div class="col-md-6">
        <label>Image URL</label>
        {{input required value=book.image id="image" class="form-control"}}
      </div><br>
      <button {{action "updateBook" book}} class="btn btn-success">Save</button>
    </form>
  </div>
{{else}}
  <button {{action "showUpdateBookForm"}} class="btn btn-warning">Update Book</button>
{{/if}}
